.formCont{
    height: 20vh;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    display:  flex;
    align-items: center;
    gap: 5px;

}
.formCont input{
    flex: 1;
    height: 40%;
    border-radius: 10px;
    font-size: 16pt;
}
.formCont button{
    width: 9%;
    margin-right: 5px;

}
.formCont label{
    margin-left: 5px;
}