html,body,#root{
  background-color: white;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Cont{
  margin: 100px auto;
  width: 60%;
  height: 80vh;
  border: 1px solid black;
  display: flex ;
  flex-direction: column;
  align-items: center;
}
/* biar container parent search cont tidak overflow karena mengikuti widh kontent didalamnya 
min width seperti atur batas bawah width sehingga container bisa widthnya min 0px - ruang tersedia
*/

.searchCont{
  height: 10% ;
  min-width: 100%; /* biar container parent tidak overflow karena mengikuti widh konten didalamnya */
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  
}
.searchCont > label{
  flex: 1;
  text-align: center;
  margin-left: 60px;

}
.searchCont > input{
  font-size: 14pt;
  flex: 4;
  margin-right: 20px;
  height: 80%;
  border-radius: 10px;
  min-width: 0;
}
.checkBox{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  gap: 10px;
}
/* boder coolapse biar anatar baris saling berkesinambungan */
table {
  border-collapse: collapse;
  width: 100%;
}
/*ukuran baris dan kolom dalam tabel dikendalikan th sama td bukan tr */
th, td {
  border: 1px solid black;
  height: auto;
  text-align: center;
}